# PARTE I

In [1]:
import requests


url = f"https://drive.google.com/uc?export=download&id=1kcH4xji_A1_FCgHoDOf6eu9EYcX0blyP"

db_filename = "chinook.db"

try:
    response = requests.get(url, stream=True)
    response.raise_for_status()  

    with open(db_filename, 'wb') as f:
        f.write(response.content)

except requests.RequestException as e:
    print(f"Erro ao baixar o arquivo: {e}")
except Exception as e:
    print(f"Ocorreu um erro: {e}")

In [2]:
import sqlite3

connection = sqlite3.connect('chinook.db')

In [4]:
import pandas as pd
pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';", connection)

,type,name,tbl_name,rootpage,sql
0,table,Album,Album,2,CREATE TABLE [Album]\n(\n [AlbumId] INTEGER...
1,table,Artist,Artist,3,CREATE TABLE [Artist]\n(\n [ArtistId] INTEG...
2,table,Customer,Customer,4,CREATE TABLE [Customer]\n(\n [CustomerId] I...
3,table,Employee,Employee,7,CREATE TABLE [Employee]\n(\n [EmployeeId] I...
4,table,Genre,Genre,9,CREATE TABLE [Genre]\n(\n [GenreId] INTEGER...
5,table,Invoice,Invoice,10,CREATE TABLE [Invoice]\n(\n [InvoiceId] INT...
6,table,InvoiceLine,InvoiceLine,12,CREATE TABLE [InvoiceLine]\n(\n [InvoiceLin...
7,table,MediaType,MediaType,14,CREATE TABLE [MediaType]\n(\n [MediaTypeId]...
8,table,Playlist,Playlist,15,CREATE TABLE [Playlist]\n(\n [PlaylistId] I...
9,table,PlaylistTrack,PlaylistTrack,16,CREATE TABLE [PlaylistTrack]\n(\n [Playlist...
10,table,Track,Track,19,CREATE TABLE [Track]\n(\n [TrackId] INTEGER...

In [6]:
pd.read_sql("SELECT * FROM Album;", connection, index_col="AlbumId")

                                                     Title  ArtistId
AlbumId
1                    For Those About To Rock We Salute You         1
2                                        Balls to the Wall         2
3                                        Restless and Wild         2
4                                        Let There Be Rock         1
5                                                 Big Ones         3
...                                                    ...       ...
343                                 Respighi:Pines of Rome       226
344      Schubert: The Late String Quartets & String Qu...       272
345                                    Monteverdi: L'Orfeo       273
346                                  Mozart: Chamber Music       274
347      Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 2 columns]

# PARTE II

In [ ]:
import requests


url = ""

response = requests.get(url)
response.raise_for_status()  
universities = response.json()